@using SONEPAR.WEB.HELPER
@using SONEPAR.WEB.LOGIC.GestionDocumentos
@using SONEPAR.WEB.MODEL
@model IEnumerable<SONEPAR.WEB.VIEWMODEL.GestionDocumentos.DocumentoViewModel>

<table id="tableDetalle" class="table">
    <thead>
        <tr style="font-weight:bold">
            <td class=" text-right">#</td>
            <td>Proveedor</td>
            <td>Tipo</td>
            <td>Serie</td>
            <td>Correlativo</td>
            <td>Fecha</td>
            <td>Concepto</td>
            <td>Moneda doc</td>
            <td>Impuesto</td>
            <td>Total</td>
            <td>Estado</td>
            <td>Opciones</td>
        </tr>

    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr><td colspan="18">No existen registros aún</td></tr>
        }
        else
        {
            int num = 1;
            foreach (var item in Model)
            {
                <tr ondblclick="window.location ='@Url.Action("AddUpdate", "Documento", new { Area = ConstantHelper.Area.GESTIONDOCUMENTOS , documentoId=item.DocumentoId, documentType = (DocumentType)item.TipoDocumentoId })'">
                    <td>@num</td>
                    <td> @item.SapBusinessPartnerCardCode</td>
                    <td> @item.SapIndicatorCode</td>
                    <td> @item.Serie </td>
                    <td> @item.Correlativo </td>
                    <td> @item.FechaDocumento.ToShortDateString() </td>
                    <td> @item.SapConceptoCode</td>
                    <td> @item.SapMonedaDocCurrCode </td>
                    <td> @item.OstcCode </td>
                    <td> @item.Monto </td>
                    
                    @if (item.Error!= null)
                    {
                        <td style="color:red" data-toggle="tooltip" data-original-title="@item.Error"> @(item.Error.Length > 10 ? item.Error.Substring(0, 9) : item.Error)</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td class="text-nowrap text-center">
                        @switch ((DocumentState)item.Estado)
                        {
                            case DocumentState.None:
                                <h6>-</h6>
                                break;
                            case DocumentState.Pendiente:
                                <a class="btn btn-xs btn-icon btn-warning" data-toggle="tooltip" data-original-title="@(((DocumentState)item.Estado).ToString())">
                                    <i class="icon wb-alert" aria-hidden="true"></i>Pendiente
                                </a>
                                break;
                            case DocumentState.Aprobado:
                                <a class="btn btn-xs btn-icon btn-success" data-toggle="tooltip" data-original-title="@(((DocumentState)item.Estado).ToString())">
                                    <i class="icon wb-check" aria-hidden="true"></i>Aprobado
                                </a>
                                break;
                            case DocumentState.Rechazado:
                                <a class="btn btn-xs btn-icon btn-danger" data-toggle="tooltip" data-original-title="@(((DocumentState)item.Estado).ToString())">
                                    <i class="icon wb-close" aria-hidden="true"></i>Rechazado
                                </a>
                                break;
                            case DocumentState.AprobadoConErroresDeMigracion:
                                <a class="btn btn-xs btn-icon btn-danger" data-toggle="tooltip" data-original-title="@(((DocumentState)item.Estado).ToString())">
                                    <i class="icon wb-close" aria-hidden="true"></i>Aprobado/Error SAP
                                </a>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }

                    </td>
                    <td class="text-nowrap text-center">
                        <button type="button" class="btn btn-outline btn-default btn-xs btnModalDetalle" @Url.ModalHelperFor("ModalRendicion", "Documento", new { documentoId = item.DocumentoId }, ModalSize.Large) data-toggle="tooltip" data-original-title="Ver"
                                data - id="@item.DocumentoId">
                            <i class="icon wb-eye" aria - hidden="true"></i>
                        </button>

                        @*@if (item.ModosVistaDocumentoList.Contains(ModoVistaDocumentoApertura.ModificarYEnviar))
                        {
                            <button type="button" class="btn btn-outline btn-default btn-xs btnModalDetalle" @Url.ModalHelperFor("ModalRendicion", "Documento", new { documentoId = item.DocumentoId }, ModalSize.Large) data-toggle="tooltip" data-original-title="Modificar"
                                    data - id="@item.DocumentoId">
                                <i class="icon wb-pencil" aria - hidden="true">Enviar</i>
                            </button>
                        }

                        @if (item.ModosVistaDocumentoList.Contains(ModoVistaDocumentoApertura.ModificarYAprobar))
                        {
                            <button type="button" class="btn btn-success buttonsubmit" data-submittype="@SubmitType.Approve"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Aprobar</button>
                            <button type="button" class="btn btn-success buttonsubmit" data-submittype="@SubmitType.Approve"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Rechazar</button>
                        }*@

                    </td>
                </tr>
                num++;
            }
        }
    </tbody>
</table>
@section Scripts
{
    <script>

    </script>

}
<style>
    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 4px;
    }

  /*div[role='tooltip'] {
        position:relative;
        z-index:1;
    }*/
</style>
