@model SONEPAR.PORTALADMINISTRADOR.WEB.VIEWMODEL.Administracion.Rol.LstRolUsuarioViewModel
@{
    ViewBag.Title = "Maestro de permisos por vista";
    ViewBag.Icon = "users";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;

}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListRoles", "Rol", new { Areas = SONEPAR.PORTALADMINISTRADOR.WEB.HELPER.ConstantHelper.Area.ADMINISTRACION })"> Lista de roles</a></li>
}

<h3><i class="fa fa-shield"></i> Vistas</h3>

@using (Html.BeginForm("ListRoles", "Rol", FormMethod.Post))
{
    @Html.HiddenFor(x => Model.RolId)
    <div class="panel-group" id="accordion-continuous" aria-multiselectable="true" role="tablist">

        @foreach (var grupo in Model.LstGrupoVistas?.ToList())
        {
            <div class="panel">
                <div class="panel-heading" id="heading-continuous-one" role="tab">
                    <a class="panel-title collapsed" data-parent="#accordion-continuous" data-toggle="collapse" href="#@grupo.GrupoVistaId" aria-controls="@grupo.GrupoVistaId" aria-expanded="false">
                        <i class="fa fa-cubes" aria-hidden="true"></i>&nbsp; @grupo.Nombre
                    </a>
                </div>
                <div class="panel-collapse collapse" id="@grupo.GrupoVistaId" aria-labelledby="heading-continuous-one" role="tabpanel" aria-expanded="false">
                    <div class="panel-body">
                        <div class="table table-responsive">
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        @foreach (var vista in Model.LstVistas.Where(x => x.GrupoVistaId == grupo.GrupoVistaId))
                                        {
                                            <th class="text-center">@vista.Descripcion</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @foreach (var vista in Model.LstVistas.Where(x => x.GrupoVistaId == grupo.GrupoVistaId))
                                        {
                                            var vistaUsuario = Model.LstVistasRol.FirstOrDefault(x => x.VistaId == vista.VistaId && x.RolId == Model.RolId && x.Estado);
                                            //var name = "chk-" + vista.Codigo.Substring(vista.Codigo.LastIndexOf('.'), vista.Codigo.Length - vista.Codigo.LastIndexOf('.')) + "-" + Model.RolId;
                                            var name = "chk-" + vista.Codigo;
                                            <td class="text-center">
                                                <div class="checkbox-custom checkbox-primary">
                                                    <input type="checkbox" id="@name" name="@name" @(vistaUsuario == null ? String.Empty : "checked") />
                                                    <label for="@name">&nbsp;</label>
                                                </div>
                                            </td>
                                        }
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-right">
        <a class="btn btn-default animsition-link pull-left" href="@Url.Action("ListRoles", "Rol", new { area = SONEPAR.PORTALADMINISTRADOR.WEB.HELPER.ConstantHelper.Area.ADMINISTRACION })"><i class="fa fa-arrow-left"></i> Atrás</a>
        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
    </div>

}